<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/ECLIPSE PROJECTS/PAPARAO">
        <classes>
            <class name="nop.commerce.testscripts.LoginPageTest">
                <methods>
                    <include name="verifyLoginBtnFunctionalityEmailAsBlank"/>
                    <include name="verifyLoginBtnFunctionalityWithInvalidEmailFormat"/>
                    <include name="verifyLoginBtnFunctionalityWithInvalidEmail"/>
                    <include name="verifyLoginBtnFunctionalityWithvalidEmail"/>
                    <include name="verifyLoginBtnFunctionalityWithSetOfCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>